.cast-member {
    display: flex;
    flex-flow: column nowrap ;
    justify-content: center;
    margin: 1% 3%;
    text-align: center;
}

#headshot {
    border-radius: 50%;
    width: auto;
    height:4em;
}

.cast-member h3 {
    font-family: 'Open Sans', 'sans-serif';
    font-size: .8em;
    color: #fefefe;
}