.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.9);
    padding: 50%;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #232526;
    background: -webkit-linear-gradient(to top, #232526, #414345);
    background: linear-gradient(to top, #232526, #414345);
    padding: 2% 4%;
    border-radius: 15px;
    font-size: 1.3em;
    font-family: 'Open Sans', 'sans-serif';
    color: #e3e3e3;
}

.modal-content h3 {
    font-family: 'Nunito', 'sans-serif';
}
.modal-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.modal-content a {
    text-decoration: none;
    text-align: center;
}
.modal-content  h4 {
    background-color: transparent;
    border: solid 1px #bd3f32;
    width: 200px;
    margin: 5px 20px;
    color: #898989;
    padding: 1%;
    transition: all .4s ease;


}
.modal-content h4:hover {
    background-color: #bd3f32;
    color: #e3e3e3;
    border-radius: 10px;

}

#close-icon {
    cursor: pointer;
    width: 2em;
    height: auto;
}