.gallery-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 70%;
}
.gallery-container img {
    max-width: 100%;
    height: auto;
    margin: 0;
    display: inline-block;
}

.buttons-and-text {
    font-size: 2em;
    text-align: center;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 600;
    width: 50%;
}

.buttons-and-text p {
    font-size: 1.3rem;
    padding: 0 3%;
    line-height: 1.9;
}

 .buttons-and-text .buttons {
    margin-bottom: 8%;
     text-align: center;
}