.poster {
    border-radius: 10px;
    box-shadow: 0px 0px 2px black;
    transition: box-shadow .3s ease-in-out;
}

.poster:hover {
    box-shadow: 3px 3px 10px black;

}

.result-card {
    color: #BD3F32;
    margin: 2% 1%;
    cursor: pointer;
    text-align: left;
}
.result-card:hover{
    color: black;
}

.result-card .caption {
    margin: .5%;
}


.caption .title{
    font-size: 1.3em;
    margin-top: .5%;
    margin-bottom: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.caption .year{
    font-size: 1em;
    margin-top: 0;
    padding: 0;
    font-family:'Open Sans', sans-serif;
    font-style: italic;
}