body{
    background-color:#fefefe;
}

.result-card {
    color: #898989;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
    transition: box-shadow .3s ease-in-out;
    margin: 2% 1%;
    cursor: pointer;
    text-align: left;
    padding: 1% .7% 0 .7%;
    background-color: #e3e3e3;
}
.result-card:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
}
.result-card .poster {
    border-radius: 5px;
}
.result-card .caption {
    margin: .5%;
}


.caption .title{
    font-size: 1.3em;
    margin-top: .5%;
    margin-bottom: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.caption .year {
    font-size: 1em;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}
.hover-background-color{
    transition: background .4s ease-in-out;
}
.hover-background-color:hover, .hover-background-color:focus, .hover-background-color:active {
    background: #C03D3E;
    color: white;
}