.results-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.truncate {
    max-width: 235px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
