body{
    background-color:#fefefe;
}

.extra-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 1%;
}
.banner-trailer {
    position: relative;
    padding-bottom: 30%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.banner-trailer iframe {
    position: absolute;
    top:0;
    left: 20%;
    min-width: 100%;
    min-height: 100%;
}

.avaliable-sources {
    max-width: 100%;
}
.related-movies {
    background-color: #898989;
    font-family: 'Nunito', 'sans-serif';
    font-size: 3em;
    color: #e3e3e3;
}
.related-movie-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.related-movie {
    margin: 0 1%;
}